*{
    margin: 0;
    box-sizing: border-box;
}
body{
    animation-name: bkgColorChangue;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 0s;
}
@keyframes bkgColorChangue{
    0%{background-color: lightcoral;}
    25%{background-color: lightgreen;}
    50%{background-color: lightskyblue;}
    75%{background-color: lightyellow;}
    100%{background-color: lightcoral;}
}